.text-decorator-nome{
    text-decoration: none;
}

.textos1{
    font-weight: bold ! important;
}

.imagem{
        background-image: url(https://c4.wallpaperflare.com/wallpaper/410/867/750/vector-forest-sunset-forest-sunset-forest-wallpaper-preview.jpg);
        background-repeat: 'no-repeat';
        width: 100vh;
        min-height: 60vh;
        background-size: cover;
        background-position: center;
}