.caixa{
    background-color: 3F51B5 ;
}

.titulo{
    color:black ;
    font-weight: bold;
}

.botao{
    border-color: rgb(91, 63, 117)  ;
    background-color: blue;
    color: brown ;
}

.postagens{
    background-color: white;
}