.imagem2{
    background-image: url(https://c4.wallpaperflare.com/wallpaper/760/955/638/artwork-landscape-sky-mountains-wallpaper-preview.jpg);
    background-repeat: 'no-repeat';
    width: 100vh;
    min-height: 60vh;
    background-size: auto;
    background-position: center;
}

.textos2{
    font-weight: bold !important ;

}

.btnCancelar{
    margin-right: 20px !important ; 
}